<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">

  <div>
    <select onChange="if(this.selectedIndex!==0) self.location=this.options[this.selectedIndex].value">
      <option value="">Select a category</option>
      <% @categories.each do |category| %>
      <option value="<%= category_path(category) %>"><%= category.CategoryName %></option>
      <% end %>

    </select>


    </div>


</div>

<%= link_to "New category", new_category_path %>

<!-- <div> -->